.space-top{
    margin-top: 50px!important;
}
.title-center{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

.fhreg-box{
    padding: 5px;
    font-weight: bold;
}

.datetimereg{
    font-weight: bold;
    color: red;
}

.guias-box,.piezas-box,.patente-box,.cliente-box,.comentarios-box{
    margin-top:10px;
    padding: 10px;
    border: 1px;
    border-color: black;
    border-style: solid;
}
